@import 'scss/normalize';

//$color-primary: #bada55;
$color-primary: #e37d00;

$color-text-link: darken($color-primary, 10%);
$color-text-link-active: darken($color-text-link, 15%);


@mixin font-size( $size, $content: 16 ) {
  font-size: ($size / $content) + em;
}

/**
 *  ================================  CUSTOM STYLE START  ==============================
 */


html {
  box-sizing: border-box;
  min-height: 100%;
}

body {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  transition-duration: .2s;
  transition-property: all;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

// float container
.group::before,
.group::after {
  content: " ";
  display: table;
}

.group::after {
  clear: both;
}

.group {
  *zoom: 1;
}

// skip link
.skip-link {
  position: fixed;
  top: -9999px;
  left: -9999px;

  &:active,
  &:focus {
    top: 0;
    left: 0;
    font-size: 20px;
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 5px;
    z-index: 999;
  }
}

a {
  color: $color-text-link;

  &:hover,
  &:focus,
  &.active {
    color: $color-text-link-active;
  }

  &.btn {
    text-decoration: none;
    color: inherit;
  }
}

header.main-header{
  text-align: center;
  padding: 1em;
}

footer.main-footer {
  text-align: center;
  padding: 2em 1em;
}

nav.main-navbar {
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    li {
      padding: .5em 1em;
      a {
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 1em;
  background-color: #ddd;
}

.row {
  display: flex;
  gap: 1em;

  &.menu-left-center-right > .col:nth-child(2),
  &.menu-left-center > .col:nth-child(2),
  &.menu-center-right > .col:nth-child(1) {
    flex-grow: 9;
    flex-basis: 80%;
  }
}

.col {
  flex-grow: 1;
  background-color: #eee;
  padding: 0.5em;
}

ul.sideMenu {
  list-style: disc;
  margin: 1em 0;
  padding: 0 1.2em;

  li {
    padding: 0.2em;
  }
}

@media (max-width:700px) {
  .row {
    display: block;
  }
}
