<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MY WEB{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet"
          href="/custom/css/style.css?v={{ version }}{{ app.environment == "dev" ? "now" | date('ymd-His') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<a href="#main" class="skip-link">PRESKOČIŤ NA OBSAH</a>
<header class="main-header container">
    <h1>MY WEB</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi illum natus quisquam quod recusandae sunt voluptatibus. Eos eveniet nostrum soluta! </p>
    <nav class="main-navbar">
        {{ render(controller('Score\\PageBundle\\Controller\\PublicController::mainMenuAction')) }}
    </nav>
</header>
<main id="main">
    {% block body %}Hello!{% endblock %}
</main>
<footer class="main-footer container">
    <p>Develop and design by SAŽP</p>
</footer>

<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/custom/js/script.js?v={{ version }}{{ app.environment == "dev" ? "now" | date('ymd-His') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
