<li class="idsk-header-web__nav-list-item">

    <a class="govuk-link idsk-header-web__nav-list-item-link" href="#{{ item.node.id }}" title="{{ item.node.name }}"  aria-label="Rozbaliť {{ item.node.name }} menu" aria-expanded="false"
    data-text-for-hide="Skryť {{ item.node.name }} menu" data-text-for-show="Rozbaliť {{ item.node.name }} menu">


        {{ item.node.name }}
        <div class="idsk-header-web__link-arrow"></div>
        <div class="idsk-header-web__link-arrow-mobile"></div>
    </a>


    <div class="idsk-header-web__nav-submenulite">
        <ul class="idsk-header-web__nav-submenulite-list" aria-label="Vnútorná navigácia">

        {% for item in item.children %}
        <li class="idsk-header-web__nav-submenulite-list-item">
            {% if 'page' == item.node.linkType %}
            <a class="govuk-link idsk-header-web__nav-submenulite-list-item-link" href="{{ item.node.publicLink is same as "homepage" ?  "/" : path('default_subpage',{'seoid':item.node.publicLink}) }}" title="{{ item.node.name }}">
            {% else %}
            <a class="govuk-link idsk-header-web__nav-submenulite-list-item-link" href="{{ item.node.publicLink }}" title=" {{ item.node.name }}">
                {% endif %}
                <span>{{ item.node.name }}</span>
            </a>
        </li>
        {% endfor %}{# empty Twig template #}
        </ul>
      </div>
</li>
