
<nav class="idsk-header-web__nav-bar--buttons">
    <ul class="idsk-header-web__nav-list "  role="navigation" aria-label="Hlavná navigácia">
        {% for item in menuTree %}
            {% if item.children is defined %}
                {{ include('idsk/menuItemFolded.html.twig',{'items': item}) }}
            {% else %}
                <li class="idsk-header-web__nav-list-item {% if '/' ~ item.node.publicLink == requestUri %} idsk-header-extended__navigation-item--active{% endif %}">
                    {% if 'page' == item.node.linkType %}
                    <a class="govuk-link idsk-header-web__nav-list-item-link" href="{{ item.node.publicLink is same as "homepage" ?  "/" : path('default_subpage',{'seoid':item.node.publicLink}) }}" title="{{ item.node.name }}">

                    {% else %}
                    <a class="govuk-link idsk-header-web__nav-list-item-link" href="{{ item.node.publicLink }}" title=" {{ item.node.name }}">
                        {% endif %}
                        {{ item.node.name }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}{# empty Twig template #}





    </ul>
</nav>


