{% extends  default_template is defined and default_template is not null ? [default_template, '@ScorePage/Public/baseLayout.html.twig'] : '@ScorePage/Public/baseLayout.html.twig' %}

{% block title %}{{page.title}} | {{parent()}} {% endblock %}

{% block body %}
<div class="container" >


	<div class="{{page.layout}} row">
        <h1  class="govuk-heading-xl">{{ page.name }}</h1>

		{% if page.hasLeftBar %}
			<div class="col col-lg-3">
				{% for pageBlock in page.pageBlocks %}
					{% if 'left' == pageBlock.place %}
{#						<h2>{{ pageBlock.block.name }}</h2>#}
						{{ include('@ScorePage/Public/_block.html.twig',{'pageBlock': pageBlock}) }}
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}

        <div class="col  govuk-body">
		{% for pageBlock in page.pageBlocks %}
			{% if 'center' == pageBlock.place %}
				{% if 'pageContent' == pageBlock.block.type %}
					{{ page.content|raw }}
				{% else %}
{#					<h2>{{ pageBlock.block.name }}</h2>#}
					{{ include('@ScorePage/Public/_block.html.twig',{'pageBlock': pageBlock}) }}
				{% endif %}
			{% endif %}
		{% endfor %}
        </div>

		{% if page.hasRightBar %}
			<div class="col  col-lg-3">
				{% for pageBlock in page.pageBlocks %}
					{% if 'right' == pageBlock.place %}
{#						<h2>{{ pageBlock.block.name }}</h2>#}
						{{ include('@ScorePage/Public/_block.html.twig',{'pageBlock': pageBlock}) }}
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}

	</div>
</div>
{% endblock %}
